{{{opensearch_license}}}
{{{generated_code_warning}}}

'use strict'

const { kConfigErr, apiFunc } = require('./utils')

const kApiModules = Symbol('api modules')
const kApiLoader = Symbol('api loader')

function OpenSearchAPI (opts) {
  this[kConfigErr] = opts.ConfigurationError
  this[kApiModules] = {}
  this[kApiLoader] = function (path) {
    if (this[kApiModules][path] === undefined) {
      const ApiModule = require(path)
      this[kApiModules][path] = new ApiModule(this.transport, this[kConfigErr])
    }
    return this[kApiModules][path]
  }
}

// Setup Root API Functions
/** @namespace {{doc_namespace}} */
const cache = {}
{{#root_functions}}
OpenSearchAPI.prototype.{{prototype_name}} = apiFunc(cache, '{{{path}}}')
{{/root_functions}}

// Setup API Modules
Object.defineProperties(OpenSearchAPI.prototype, {
  {{#api_modules}}
  {{prototype_name}}: { get() { return this[kApiLoader]('{{{path}}}') } },
  {{/api_modules}}
})

module.exports = OpenSearchAPI;
