{{{opensearch_license}}}
{{{generated_code_warning}}}

'use strict';

const { apiFunc } = require('../utils');

/** @namespace {{doc_namespace}} */

function {{module_name}}(bindObj) {
  const cache = {};
  {{#functions}}
  this.{{prototype_name}} = apiFunc(bindObj, cache, '{{{path}}}');
  {{/functions}}
}

module.exports = {{module_name}};
