{{{opensearch_license}}}
{{{generated_code_warning}}}

'use strict';

const { apiFunc, kConfigErr } = require('../utils');

/** @namespace {{doc_namespace}} */

function {{module_name}}(transport, ConfigurationError) {
  this.transport = transport;
  this[kConfigErr] = ConfigurationError;
  const cache = {};
  {{#functions}}
  this.{{prototype_name}} = apiFunc(cache, '{{{path}}}', this);
  {{/functions}}
}

module.exports = {{module_name}};
