{{{opensearch_license}}}
{{{generated_code_warning}}}

'use strict';

const { apiFunc, kConfigurationError } = require('../../utils');

/** @namespace {{doc_namespace}} */

function {{module_name}}(transport, ConfigurationError) {
  this.transport = transport;
  this[kConfigurationError] = ConfigurationError;
}
const cache = {};
{{#functions}}
{{module_name}}.prototype.{{name}} = apiFunc(cache, '{{{path}}}');
{{/functions}}

module.exports = {{module_name}};
